<section class="about container">
    <h1 class="text-center">About Us</h1>
    <p>
        Here’s what you need to know: you’re never too young to start 
        building softwares. The young age at which you start coding suggests
         you’re not driven by money and perks, or the opportunity to work at a 
         particular company; it’s all about the software itself. You’re never
          too young (or too old) to write your first lines of code. At
           MEL-Technologies & Solution Ltd, we give you the platform to 
           convert your intelligence and logical reasoning into codes that 
           make you valuable in the I.T world.Three-quarters of developers began
            coding before they could legally drink, according to new survey data
             from HackerRank.
    </p>
    <p>
        Some 21.1 percent of HackerRank’s respondents said they kicked off 
        their coding career between the ages of 11 and 15 (before they could 
        legally drive!), while another 4.8 percent did so before they turned 10 
        (probably before their parents let them leave the house unsupervised!). 
        Another 49.6 percent first wrote software between the ages of 16 to 20.
        Nearly a quarter of respondents (24.6 percent) started coding 
        after the age of 21, making them the “geriatrics” of this survey. 
        As HackerRank was quick to note in its report, that didn’t hinder their 
        career growth: “Of all the developers who started coding after the age
         of 26, 36 [percent] are now senior or even higher-level developers,
          growing quickly in their careers.Developers across all age cohorts,
           meanwhile, have strong opinions about the programming languages they 
           employ. “There is an unusual generational trend among newer languages:
            Younger developers dislike newer languages
             (like Go, Kotlin, and Scala) more so than older developers,”
              HackerRank noted in its report. “In fact, Go creates one of the
               greatest divides. Developers aged 18-24 don’t care for it, but 
               45-54 year-olds consider it one of their most loved languages.”
                With JavaScript, which is 22 years old, it’s the opposite, with 
                younger developers liking it far more than their 
                older counterparts.
    </p>
    <p>
        Across all ages, developers also wanted good work-life balance:
         “Developers ranked work-life balance as the most desired trait,
          slightly more than professional growth and learning, which came 
          in second.” Despite their reputations as workaholics, American 
          developers desired work-life balance more than their counterparts
           in other regions such as Asia and Europe.
    </p>
    <div class="follow text-center">
        <h5>Follow Us </h5>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>
